<!DOCTYPE html>
<html>
<head>
  <title>Supporttools</title>
  <%= stylesheet_link_tag    "supporttools/application", media: "all" %>
  <%= javascript_include_tag "supporttools/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
